In [43]:
import pandas as pd

In [44]:
def load_url_from_txt (filename='article_urls.txt'):
    with open(filename, 'r') as file:
        urls = [line.strip() for line in file.readlines()]
    return urls

def url_to_df(urls):
    df = pd.DataFrame(urls, columns=['url'])
    return df

urls = load_url_from_txt()
df_urls = url_to_df(urls)

In [45]:
df_urls

                                                   url
0    /baca/nusantara/2022/09/25/kecelakaan-beruntun...
1    /baca/nusantara/2024/04/28/kecelakaan-lalu-lin...
2    /baca/ekonomi/2024/04/21/kecelakaan-travel-gel...
3    /baca/video/2023/09/24/kecelakaan-di-sekitar-t...
4    /baca/nusantara/2021/09/09/galeri-foto-kecelak...
..                                                 ...
641  /baca/metro/2020/12/26/kompolnas-pantau-penyel...
642  /baca/nusantara/2022/03/17/dua-orang-tewas-aki...
643  /baca/metro/2020/07/10/mobil-terjun-ke-kalimal...
644  /baca/video/2018/09/10/jenazah-korban-kecelaka...
645  /baca/nusantara/2021/03/29/truk-pengangkut-sod...

[646 rows x 1 columns]

In [46]:
df_urls.duplicated().sum()

445

In [47]:
df_urls.drop_duplicates(inplace=True)
df_urls.duplicated().sum()
df_urls.reset_index(inplace=True)
df_urls.drop(columns='index', inplace=True)

In [48]:
df_urls

                                                   url
0    /baca/nusantara/2022/09/25/kecelakaan-beruntun...
1    /baca/nusantara/2024/04/28/kecelakaan-lalu-lin...
2    /baca/ekonomi/2024/04/21/kecelakaan-travel-gel...
3    /baca/video/2023/09/24/kecelakaan-di-sekitar-t...
4    /baca/nusantara/2021/09/09/galeri-foto-kecelak...
..                                                 ...
196  /baca/metro/2020/12/26/kompolnas-pantau-penyel...
197  /baca/nusantara/2022/03/17/dua-orang-tewas-aki...
198  /baca/metro/2020/07/10/mobil-terjun-ke-kalimal...
199  /baca/video/2018/09/10/jenazah-korban-kecelaka...
200  /baca/nusantara/2021/03/29/truk-pengangkut-sod...

[201 rows x 1 columns]

In [51]:
df_urls.to_csv('url.csv')